.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.task .reminder {
  border-left: 5px solid green;
}

.task h3 {
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task p {
  font-size: 1rem;
}
